In [1]:
#Importando biblioteca
import pandas as pd
from tabulate import tabulate

In [2]:
dados = 'dados_concatenados.csv'

In [6]:
# Selecionar as colunas específicas
colunas_selecionadas = [
    'Data do Pregão',
    'Código de Negociação',
    'Nome da Empresa',
    'Moeda de Referência',
    'Preço de Abertura',
    'Preço Máximo',
    'Preço Mínimo',
    'Preço Médio',
    'Preço de Fechamento',
    'Preço de Fechamento Anterior',
    'Quantidade de Negócios',
    'Volume Total dos Negócios'
]

In [16]:
# Carregar o CSV pulando a primeira linha
df = pd.read_csv(dados, low_memory=False)

In [18]:
# Exibir as primeiras linhas do DataFrame carregado
print(tabulate(df.head(), headers='keys', tablefmt='pretty'))

+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+
|   | Data do Pregão | Código de Negociação | Nome da Empresa | Moeda de Referência | Preço de Abertura | Preço Máximo | Preço Mínimo | Preço Médio | Preço de Fechamento | Preço de Fechamento Anterior | Quantidade de Negócios | Volume Total dos Negócios |
+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+
| 0 |    20210104    |        A1AP34        |  ADVANCE AUTO   |         R$          |      5110.0       |    5203.0    |    5062.0    |   5191.0    |       5190.0        |            6132.0            |         6420.0         |        33355870.0         |
| 1 |    20210104    |        A1BB34        |     ABB LTD     |         R$          |      3680.0       |    3732.0    |    3674.0    |   3701.0    |       3718.0        |             0.0              |          50.0          |         214670.0          |
| 2 |    20210104    |        A1BM34        |   ABIOMED INC   |         R$          |      40942.0      |   41660.0    |   40942.0    |   41527.0   |       41530.0       |             0.0              |         320.0          |        13537960.0         |
| 3 |    20210104    |        A1CR34        |    AMCOR PLC    |         R$          |      5850.0       |    6010.0    |    5850.0    |   5976.0    |       5977.0        |             0.0              |         1100.0         |         6592550.0         |
| 4 |    20210104    |        A1EE34        |   AMEREN CORP   |         R$          |      19960.0      |   19960.0    |   19960.0    |   19960.0   |       19960.0       |           21250.0            |         400.0          |         7984000.0         |
+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+

In [22]:
# Verificar se há valores vazios nas linhas
linhas_vazias = df.isna().any(axis=1)

In [23]:
# Exibir as linhas com valores vazios
print("Linhas com valores vazios:")
print(df[linhas_vazias])

Linhas com valores vazios:
        Data do Pregão Código de Negociação Nome da Empresa  \
1831862       COTAHIST         021BOVESPA 2    123000001831
3949303       COTAHIST         022BOVESPA 2    122900002117
6206728       COTAHIST         023BOVESPA 2    122800002257

        Moeda de Referência  Preço de Abertura  Preço Máximo  Preço Mínimo  \
1831862                 NaN                NaN           NaN           NaN
3949303                 NaN                NaN           NaN           NaN
6206728                 NaN                NaN           NaN           NaN

         Preço Médio  Preço de Fechamento  Preço de Fechamento Anterior  \
1831862          NaN                  NaN                           NaN
3949303          NaN                  NaN                           NaN
6206728          NaN                  NaN                           NaN

         Quantidade de Negócios  Volume Total dos Negócios
1831862                     NaN                        NaN
3949303                     NaN                        NaN
6206728                     NaN                        NaN

In [25]:
# Remover linhas com valores vazios
df = df.dropna()

In [27]:
# Exibir as primeiras linhas do DataFrame após remover linhas vazias
print(tabulate(df.head(), headers='keys', tablefmt='pretty'))

+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+
|   | Data do Pregão | Código de Negociação | Nome da Empresa | Moeda de Referência | Preço de Abertura | Preço Máximo | Preço Mínimo | Preço Médio | Preço de Fechamento | Preço de Fechamento Anterior | Quantidade de Negócios | Volume Total dos Negócios |
+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+
| 0 |    20210104    |        A1AP34        |  ADVANCE AUTO   |         R$          |      5110.0       |    5203.0    |    5062.0    |   5191.0    |       5190.0        |            6132.0            |         6420.0         |        33355870.0         |
| 1 |    20210104    |        A1BB34        |     ABB LTD     |         R$          |      3680.0       |    3732.0    |    3674.0    |   3701.0    |       3718.0        |             0.0              |          50.0          |         214670.0          |
| 2 |    20210104    |        A1BM34        |   ABIOMED INC   |         R$          |      40942.0      |   41660.0    |   40942.0    |   41527.0   |       41530.0       |             0.0              |         320.0          |        13537960.0         |
| 3 |    20210104    |        A1CR34        |    AMCOR PLC    |         R$          |      5850.0       |    6010.0    |    5850.0    |   5976.0    |       5977.0        |             0.0              |         1100.0         |         6592550.0         |
| 4 |    20210104    |        A1EE34        |   AMEREN CORP   |         R$          |      19960.0      |   19960.0    |   19960.0    |   19960.0   |       19960.0       |           21250.0            |         400.0          |         7984000.0         |
+---+----------------+----------------------+-----------------+---------------------+-------------------+--------------+--------------+-------------+---------------------+------------------------------+------------------------+---------------------------+

In [28]:
# Salvar o DataFrame concatenado em um arquivo CSV
df.to_csv('dados_limpos.csv', index=False)